useDynLib(spMOCA, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")

import(Rcpp)
import(Matrix)
import(reshape2)
import(data.table)
import(stats)
import(RcppArmadillo)
import(ggplot2)
import(WGCNA)
import(dplyr)
import(SPARK)
import(msigdbr)
import(tidyverse)